#messageContainer {
    padding-bottom: 170px;
    padding-left: 54px;
    overflow-x: scroll !important;
    overflow-y: scroll;
}

.messageSectionHeader {
    margin-bottom: 50px;
}

#messageContainer .messageSectionHeader span {
    width: 150px !important;
    height: 5px !important;
    background: rgba(240, 187, 17, 1) !important;
    border-radius: 600px !important;
    top: 75px !important;
    left: 5% !important;
}

.chatContainer {
    width: 90%;
    height: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.activeB {
    background-color: #ccc;
    font-weight: bold;
    cursor: pointer;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    cursor: pointer;
}

.tabcontent h3 {
    cursor: pointer;
    background-color: #eeeeee;
    border-bottom: 2px solid #ffffff;
}