#chatBoxContainer {
    padding-bottom: 170px;
    padding-left: 54px;
    overflow-x: scroll !important;
    overflow-y: scroll;
}

.chatBoxSectionHeader {
    margin-bottom: 50px;
}

#chatBoxContainer .chatBoxSectionHeader span {
    width: 150px !important;
    height: 5px !important;
    background: rgba(240, 187, 17, 1) !important;
    border-radius: 600px !important;
    top: 75px !important;
    left: 5% !important;
}

.chatBoxContainer {
    width: 90%;
    height: 100%;
    background-color: #eeeeee;
    box-shadow: 0 3px 5px rgba(167, 167, 167, 0.471);
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}