::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: white;
    padding-right: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #053769;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', "Semibold";
}

/*main content css*/

main {
    position: absolute;
    top: 50px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.contactUsMainDiv {
    position: relative;
    width: 100%;
    height: 800px;
}

.ContactUsContentDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 90%;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.inputDiv {
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.inputDiv input {
    background-color: #ffffff;
    box-shadow: 0 3px 15px rgba(126, 118, 249, 0.702);
    width: 90%;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-clip: padding-box;
    padding: 0.250rem 0.40rem;
    overflow: hidden;
    color: #000000;
}

.inputDiv input:focus {
    padding-left: 35px;
}

::placeholder {
    padding-left: 15px;
    color: #000000;
    font-weight: bold;
}

.ContactUsContentDiv form {
    text-align: center;
}

.ContactUsContentDiv form textarea {
    margin-top: 10px;
    width: 80%;
    height: 120px;
    border-radius: 20px;
    outline: none;
    border: none;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(126, 118, 249, 0.702);
    color: #000000;
    padding: 0.250rem 0.40rem;
}

.ContactUsContentDiv form button {
    width: 30%;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    overflow: hidden;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(126, 118, 249, 0.702);
    background: linear-gradient(to right, #6156F9, #1A129F);

}

