.footer {
    position: absolute;
    bottom: 0;
    /*background: #306DC6;*/
    width: 100%;
    height: 70vh;
}

.footer img {
    width: 100%;
    max-height: content-box;
    height: 100%;
}

.footerContainer {
    position: absolute;
    top: 32.80%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 47vh;
}

.socialMediaDiv {
    width: 25%;
    height: 47vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socialMediaDivContent {
    position: absolute;
    width: 15%;
    height: 180px;
    bottom: 30px;
    text-align: center;
}

.socialMediaDivContent img {
    width: 100px;
    height: 100px;
}

.fLogoDiv .iconDiv {
    display: flex;
    justify-content: space-around;
}

.qLinkDiv {
    width: 25%;
    height: 47vh;
    background: yellow;
    display: flex;
    align-items: center;
}

.qLinkDivContainer {
    width: 40%;
    height: 250px;
    background-color: darkred;

}

.aboutUsDiv {
    width: 25%;
    height: 47vh;
    background: green;
}

.contactUsDiv {
    width: 25%;
    height: 47vh;
    background: red;
}

