*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #ffffff 30%, #1A129F 90%)
}

.container img {
    width: 100px;
    height: 60px;
    margin-left: 35%;
}

.container{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 45%;
    box-shadow: 10px 5px 10px 5px #888888;
}

.container{
    background: #ffffff;
    width: 400px;
    padding:30px;
    border-radius: 25px;
}

.container .text{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.container form{
    margin-top: -20px;
}

.container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}

form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
}

form .btn{
    margin: 30px 0;
    height: 45px;
    width: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    left: 20%;
}

form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    transition: all 0.3s;
    background: -webkit-linear-gradient(right, #eeeeee, #1A129F,#eeeeee, #1A129F);
}

form .btn:hover .inner{
    left: 0;
}

form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.img img{
width: 400px;
height: 400px;
}

.img{
    position: absolute;
    top: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    left: 50%;
}

