::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: white;
    padding-right: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #053769;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins';
}

/*main content css*/

main {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

/*header image styles*/
.big-image {
    width: 100%;
    height: 700px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../../../MDC-Professionals/assets/images/mainbanner_toned2.png");
    font-style: normal;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #306DC6;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 90px;
}

.big-image .overlay h2 {
    padding-left: 35px;
    margin: 0;
}

.big-image .overlay p {
    padding-left: 35px;
    margin: 5px 0 0 0;
}