::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: white;
    padding-right: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #053769;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}