html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: white;
    padding-right: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #053769;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins';
}

/*main content css*/

main {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 45%;
    background-color: #ffffff;
}

/*biography style start*/
.bioDiv {
    position: relative;
    width: 100%;
    height: 500px;
    top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bioDiv .imgDiv {
    width: 50%;
    height: 80%;
    opacity: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioDiv .imgDiv img {
    width: 450px;
    height: 100%;
    opacity: 95%;
}

.bioDiv .infoDiv {
    width: 50%;
    height: 100%;
    opacity: 95%;
}

.bioDiv .infoDiv p:nth-child(1) {
    /*margin: 0;*/
    color: #046EAB;
}

.bioDiv .infoDiv h2 {
    margin: 8px 0 0 0;
    color: #103C55;
}

.bioDiv .infoDiv p:nth-child(3) {
    width: 75%;
    margin-top: 60px;
}

/*biography style start*/


/*Our Service style start*/
.ouerServiceDiv {
    position: relative;
    width: 100%;
    height: 600px;
    top: 220px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ouerServiceHeaderDiv {
    width: 100%;
}

.ouerServiceHeaderDiv p {
    color: #046EAB;
    padding-left: 40px;
}

.ouerServiceHeaderDiv h2 {
    color: #103C55;
    padding-left: 40px;
}

.serviceCardList {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #DAE9F2;
}

.card {
    width: 270px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(126, 118, 249, 0.702);
    overflow: visible;
    text-align: center;
    cursor: pointer;
}

.card:hover {
    width: 290px;
    height: 420px;
    overflow: hidden;
    transition: 0.10s all;
}

.topDiv {
    position: relative;
    width: 100%;
    height: 30%;
    border-radius: 15px 15px 0 0;
}

.topDiv {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.topDiv img {
    width: 185px;
    height: 100px;
}

.info {
    font-size: 12px;
    font-family: 'Poppins Medium';
    color: #42495B;
}

.info button {
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    overflow: hidden;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 1px 10px #1A129F;
    background: linear-gradient(to left, #6156F9, #1A129F);
    text-transform: uppercase;
    left: 75px;
    top: 15px;
    cursor: pointer;
}

/*Our Service style end*/